/*---------------------------------
#start 
------------------------------------*/

/* html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: clip;
} */

/*---------------------------------
# FOOTER 
------------------------------------*/
/* .wrapper {
    min-height: 100%;
    margin-bottom: -50X;

}

#footer,
.push {
    height: 70px;
} */

/*---------------------------------
# OTHER 
------------------------------------*/
/* .side-label{
    width: 92px;
} */